@import url("m.style.css");
@font-face {
  font-family: 'droid-serif';
  src: url("droid-serif.woff2");
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: droid-serif;
  transition-duration: 0.5s ease;
}
nav {
  background: #2C2C2C;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
nav > ul {
  list-style: none;
  margin: 0;
}
nav > ul > li {
  display: inline-block;
  padding: 10px;
}
nav > ul > li a {
  padding: 10px;
  color: #fff;
}
nav > ul > li a:hover {
  background: #fff;
  color: #2C2C2C;
}
main {
  width: 70%;
  margin: 0 auto;
  margin-top: 3em;
  padding: 1em;
}
footer {
  text-align: center;
  color: #555;
}
textarea {
  direction: rtl;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 200px;
}
h1,h2,h3 {
  text-align: center;
  color: #2C2C2C;
}
h4 {
  color: #2C2C2C;
}
a {
  color: #999EBB;
  text-decoration: none;
}
a:hover {
  color: #5461AD;
  transition-duration: 0.5s;
}
img {
  max-width: 100%;
}
blockquote {
  background: #f2f2f2;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
code {
  text-align: left;
  direction: ltr;
  width: 95%;
  display: inherit;
  background: #eee;
  margin: 0 auto;
  padding: 1%;
}
.archive {
  list-style-type: none;

}
.archive li {
  width: 100%;
  font-size: 16px;
  text-align: center;
}
.formContainer {
  margin: 10px auto;
  width: 80%;
  clear: both;
}
.formContainer input {
  width: 100%;
  clear: both;
}
.button {
  padding: 0 5px 0 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button:hover {
  background: #f0f0f0;
}
.accountlink {
  float: right;
}
.single-post {
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
  color: #000;
}
.index-post {
  font-size: 18px;
  text-align: center;
  text-justify: inter-word;
  color: #000;
}
.post-date {
  color: #555;
  font-size: 16px;
  display: inline-block;
}
.post-tag {
  text-align: left !important;
  background: #000;
  display: inline-block;
  color: #fff;
  padding: 0.333333em;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
