@import url("m.style.css");
@font-face {
  font-family: 'Lato';
  src: url("Lato-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: 'Lato';
  src: url("Lato-Light.ttf");
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  font-family: 'Lato';
  font-weight: 400;
  transition-duration: 0.5s ease;
}
nav {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  text-align: center;
}
nav > ul {
  list-style: none;
  margin: 0;
}
nav > ul > li {
  display: inline-block;
  padding: 10px;
}
nav > ul > li a {
  padding: 10px;
  font-size: 20px;
  color: #555;
}
main {
  width: 70%;
  margin: 0 auto;
  margin-top: 3em;
  padding: 1em;
}
footer {
  text-align: center;
  color: #555;
}
footer > ul > li {
  display: inline-block;
  margin: 5px;
}
textarea {
  direction: rtl;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 200px;
}
h1 {
  color: #555;
  font-size: 30px;
  font-weight: 400;
}
h2 {
  text-align: center;
  color: #555;
  font-size: 28px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #5461AD;
}
a:hover {
  text-decoration: underline;
  transition-duration: 0.5s;
}
img {
  max-width: 100%;
}
blockquote {
  background: #f2f2f2;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
code {
  text-align: left;
  direction: ltr;
  width: 95%;
  display: inherit;
  background: #eee;
  margin: 0 auto;
  padding: 1%;
}
.site-desc p {
  width: 50%;
  text-align: center;
  margin: auto;
  padding-bottom: 1em;
}
.archive {
  list-style-type: none;
}
.archive li {
  width: 100%;
  font-size: 16px;
  text-align: center;
}
.formContainer {
  margin: 10px auto;
  width: 80%;
  clear: both;
}
.formContainer input {
  width: 100%;
  clear: both;
}
.button {
  padding: 0 5px 0 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button:hover {
  background: #f0f0f0;
}
.single-post {
  font-weight: 400;
  font-size: 24px;
  text-align: justify;
  color: #000;
  padding-bottom: 1.66666em;
}
.post-meta {
  color: #999;
  font-size: 17px;
}
