@font-face {
  font-family: 'amiri';
  src: url("font.ttf");
  font-style: normal;
  font-weight: 400;
}
body {
  direction: rtl;
  margin: 0;
  padding: 0;
  background: url("img/background.png");
  font-family: 'amiri';
  border-top: 5px solid rgba(52, 73, 94, 0.975);
  transition-duration: 0.5s;
}
textarea {
  direction: rtl;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 200px;
}
a {
  color: rgba(52, 73, 94, 0.975);
  text-decoration: none;
}
a:hover {
  color: rgba(46, 204, 113, 0.95);
  transition-duration: 0.5s;
}
img {
  max-width: 100%;
}
blockquote {
  background: #f7f7f7;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
code {
  text-align: left;
  direction: ltr;
  width: 95%;
  display: inherit;
  background: #eee;
  margin: 0 auto;
  padding: 1%;
}
.rightsidebar {
  background: rgba(248, 248, 248, 0.75);
  float: right;
  position: fixed;
  width: 20%;
  margin: 1% 1% 0 0;
  -webkit-box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75);
}
.rightsidebar .widget {
  color: #000;
  border-bottom: 1px solid #eee;
  padding: 1%;
  text-align: right;
}
.rightsidebar .widget h4 {
  text-align: center;
  background: #f3f3f3;
}
.rightsidebar a {
  margin: 1%;
  padding: 1%;
  color: rgba(52, 73, 94, 0.975);
}
.rightsidebar ul {
  list-style-type: none;
  padding: 0;
}
.rightsidebar ul li {
  width: 100%;
}
.rightsidebar ul li:hover:not(.dsq-widget-item) {
  background: #eee;
  transition-duration: 0.5s;
}
.rightsidebar .dsq-widget-item {direction: rtl !important;text-align: right !important;}
.rightsidebar .dsq-widget-avatar {float: right !important;}
.main-section {
  font-size: 18px;
  width: 70%;
  float: left;
  margin: 1% 0 0 5%;
  padding: 1%;
  display: table;
  background: rgba(248, 248, 248, 0.75);
  -webkit-box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75);
}
.single-post h2 {
  text-align: center;
}
.archive {
  text-align: right;
  list-style-type: none;
  display: inline-block;
  border-right: 5px solid rgba(52, 73, 94, 0.975);
}
.archive li {
  width: 100%;
  font-size: 22px;
}
.formContainer {
  margin: 10px auto;
  width: 80%;
  clear: both;
}
.formContainer input {
  width: 100%;
  clear: both;
}
.button {
  padding: 0 5px 0 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button:hover {
  background: #f0f0f0;
}

