<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png" sizes="16x16"> 
  {% block header %} {% endblock %}

</head>

<body>
  <nav>
    <ul>
      <li><a class="websitename" href="{{ websiteUrl }}"><i class="fa fa-home"></i> {{ websiteName }}</a></li>
      {% for a in pages %}
      <li><a href="{{ websiteUrl }}/page/{{a.pageurl}}"><i class="fa fa-pagelines"></i> {{ a.pagetitle }}</a></li>
      {% endfor %}
      <li><a href="{{ websiteUrl }}{{ url_for('archive') }}"><i class="fa fa-history"></i> Archive</a></li>
       {% if session.logged_in %}
      <li><a href="{{ websiteUrl }}{{ url_for('publish') }}"><i class="fa fa-plus-square "></i> New Content</a></li>
      <li class="accountlink"><a href="{{ websiteUrl }}{{ url_for('logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
      {% else %}
      <li class="accountlink"><a href="{{ websiteUrl }}{{ url_for('login') }}"><i class="fa fa-sign-in"></i> Login</a></li>
      {% endif %}
    </ul>
  </nav>


  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
    <p>Powered by <a href="https://github.com/mhsabbagh/zayzafoun">Zayzafoun</a>. Because simplicity is art ~</p>
  </footer>

</body>

</html>
