{% extends "layout.html" %}

{% block content %}
<div class="single-post">
  <a href="{{ currenturl }}">
    <h2>{{ page[2] }}</h2>
  </a>
  <div class="post-content">{{ cleanCode(page[3])|safe }}</div>

  <p><b><i class="fa fa-user"></i>كتبه:</b> {{ page[4] }} - <b><i class="fa fa-calendar"></i> بتاريخ:</b> {{ page[5] }}
     		{% if session.logged_in %}
  			<a class="button"  href="{{ url_for('pageedit', pageurl=page[1]) }}"><i class="fa fa-edit"></i> تحرير</a> - <a class="button"  href="{{ url_for('pagedelete', pageurl=page[1]) }}"><i class="fa fa-times"></i> حذف</a>
  			{% endif %}</p>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{ disqusName }}";

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>



{% endblock %}
